
.btn-container {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

@font-face {
  font-family: 'Header-Font';
  src: url(../../utils/AovelSans-nXoO.ttf);
}
 .header-text {
  font-family: 'Header-Font', sans-serif;
  font-size: 22px;
  font-weight: 1000;
  padding-right: 30px;
 }
 .divider {
  width: 0.5px;
  margin: 20px 0;
  background: #222222;
}
 .btn-main {
  margin: 2px 30px 0 30px;
  background-color: #FFFFFF;
  border-radius: 8px;
  border-width: 0;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 15px;
  font-weight: 500;
  outline: none;
  padding: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.btn-main:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.btn-main:active {
  transform: scale(.96);
}

.btn-main:disabled {
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
  pointer-events: none;

}