.node {
    width: 24px;
    height: 24px;
    outline: 0.5px solid rgb(225, 225, 225);
    display: inline-block;
    vertical-align: top;
  }
  
  .node-visited {
    animation: visitedAnimation 3.0s 1, afterVisitedAnimation 5s infinite;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  
  @keyframes afterVisitedAnimation {
    
    50% {
      background-color: rgba(0, 217, 159, 0.75);
    }
  
    100% {
      background-color: rgba(0, 190, 218, 0.75);
    }
  }

  @keyframes visitedAnimation {
    0% {
      transform: scale(0.3);
      background-color: rgba(0, 0, 66, 0.75);
      border-radius: 100%;
    }
  
    50% {
      background-color: rgba(17, 104, 217, 0.75);
    }
  
    75% {
      transform: scale(1.2);
      background-color: rgba(0, 217, 159, 0.75);
    }
  
    100% {
      transform: scale(1);
      background-color: rgba(0, 190, 218, 0.75);
    }
  }
  
  .node-wall {
    animation-name: walls;
    animation-duration: 0.1s;
    animation-timing-function: ease-out;
    animation-delay: 0.1s;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }

  @keyframes walls {
    0% {
      transform: scale(0.3);
      border-radius: 100%;
      background-color: rgb(12, 53, 71);
    }
  
    50% {
      transform: scale(0.8);
      background-color: rgb(12, 53, 71);
    }
    75% {
      transform: scale(1.2);
      background-color: rgb(12, 53, 71);
    }
  
    100% {
      transform: scale(1.0);
      background-color: rgb(12, 53, 71);
      outline: 0.5px solid rgb(12, 53, 71);
    }
  }
  
  .node-shortest-path {
    animation-name: shortestPath;
    animation-duration: 4s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-play-state: running;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  
  @keyframes shortestPath {
    0% {
      transform: scale(0.9);
      background-color: rgb(255, 254, 106);
    }
  
    50% {
      transform: scale(1.1);
      background-color: rgb(243, 183, 87);
    }
  
    100% {
      transform: scale(1.0);
      background-color: rgb(248, 140, 24);
    }
  }
